* {
    box-sizing: border-box;
}

header {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 45px;
    padding: 30px;
    color: ghostwhite
}

nav {
    
    width: 100%;
    background-color: gray;
    height: 100px;


}

nav ul {
    list-style-type: none;

}



nav li {
    float: left;
}

 nav li a {
    display: block;
    color: white;
    padding: 15px;
    margin-left: auto;
}

aside {
    float: left;
    width: 30%;
    height: 430px;
    background-color: lightslategray;
}

article {
    float: left;
    width: 70%;
    height: 430px;
    background-color: peru;

}

footer {
    background-color: rgb(19, 141, 3);
    text-align: center;
    font-size: 30px;
    height: auto;
    padding: 40px;

}

@media (max-width:600px) {

    aside,
    nav,
    article {
        width: 100%;
        heigth: auto;
    }
}